#projects{
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  margin: 0 auto;
  text-align: center;

}

.heading{
  background: rgb(50, 50, 50);
  color: white;
  padding: 1rem 0;
}

#mini-restaurant{
  margin-left: 10rem;
}

.all-Project{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  max-width: 60rem;
  overflow: scroll;
  padding: 1rem 10rem;
}
.project-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-detail a{
  text-decoration: none;
  color: blue;
  font-weight: 600;

}

.project-detail a:hover{
  text-decoration: underline;
}

.project-img{
  height: 10rem;
  border-radius: 1rem;
  box-shadow: 2px 1px 6px;
  margin-bottom: 1rem;
  
}

.project-img:hover{
  height: 12rem;
  transition-duration: 2s ;
}