#skills{
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.skillTitle{
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}

.skillDesc{
  font-weight: 500;
  font-size: 1.05rem;
  max-width: 50rem ;
  padding: 0 2rem;
}

.skillBarImg{
  height: 80px;
  width: 80px;
}

.skillbar{
  margin: 1.5rem;
  width: 100vw;
  border-radius: 10px;
  max-width: 80%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 1rem 1rem;
  background:rgb(50, 50, 50) ;
}

@media screen and (max-width:720px) {
    .skillBarText{
      font-size: 2vw;
    }
}
@media screen and (max-width:480px) {
  .skillBarText{
    font-size: 3vw;
  } 
  .skillBarImg{
    height: 50px;
    width: 50px;
  }
}